/*styles.css*/

*{
    color: white
}

html {
    background-color: black;
}

a {
    color: darkred;
}

ul {
   list-style: square;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: rgb(238, 123, 142);
}

p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img{
    height: auto;
    width: 450px;
}